@{
    ViewData["Title"] = "Email Confirmation";

}

<h2>Sign Up</h2>

<div class="emailCon row">

   <div class="col-sm-12">
        An email has been sent to your email address with a link to activate your account.
        <br />
         Open the link in the email to activate your account..
  </div>

    </div>

